        .leftBtn,.rightBtn
        { position:absolute; background:rgb(67, 77, 90); width:3px; height:100%; z-index:5; }

        .leftBtn {cursor:w-resize;}
        .rightBtn {right:0; cursor:e-resize;}
        .timeScale{
            width: 570px;
            height: 30px;
            position: relative;
        }
        .showTime{
            position: absolute;
            width: 68px;
            height: 21px;
            border: 1px solid #000;
            top: 31px;
            left: 150px;
            display: none;
            padding: 0px 3px 3px;
        }
        .showTime>span{
            font-size: 12px;
            box-sizing: border-box;
        }
        .timeScaleTop{
            width: 100%;
            background: url("image/timeScale-top.png") no-repeat;
            background-size: 100%;
            height: 25%;
        }
        .timeScalebody{
            position: relative;
            width: 100%;
            background: url("image/timeScale-body.png") no-repeat;
            background-size: 100%;
            height: 68%;

        }